apiVersion: v1
kind: Service
metadata:
  name: spring-boot-app-service
  namespace: spring-boot

spec:
  selector:
    app: spring-boot-app
  type: NodePort
  ports:
  - protocol: TCP
    port: 80
    targetPort: 8080
    nodePort: 30222

